/data/target/
/data/applied/
/temp/
/data/src/resume_full/ResumeFull.docx
/data/src/resume_template/ResumeTemplate.docx
*.iml
.idea/
Apply4Job.iml

.idea/Apply4Job.iml
.idea/Apply4Job.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
*.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
